body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: sans-serif;
	width: 800px;
	margin: 5% auto;
	text-align: center;
	background-color: snow;
}

.container {
	display: inline-block;
	width: 300px;
	height: 300px;
	border: 2px solid #000;
	vertical-align: top;
	margin: 2%;
	border-radius: 3px;
}

#time {
	width: 100%;
	height: 0px;
	background-color: #2196F3;
	margin-top: 290px; 
}

#counter {
	cursor: pointer;
}

#counter h1 {
	display: none;
	font-size: 5rem;
	text-align: center;
	padding: 50px;
	font-weight: 300;
}

#counter p {
	font-size: 2rem;
	text-align: center;
	padding: 50px 20px;
	font-weight: 300;
}

#result {
	display: none;
}

#result h1 {
	font-size: 7rem;
	font-weight: 300;
}






