body {
	font-family: 'Merriweather', serif;
	font-size: 100%;
	font-weight: 300;
	max-width: 700px;
	margin: 0 auto;
	padding: 15px;
	background-color: snow;
}

a {
	color: #2196F3;
}

p {
	font-size: 1.1rem;
	line-height: 1.8rem;
}

ul {
	padding: 0 2%;
  margin: 2% 0 5%;
}

ul li {
	margin: 1% 0;
	font-size: 1.1rem;
  letter-spacing: 0.01rem;
  line-height: 1.5rem;
  line-height: 1.8rem;
}


nav ul {
	padding: 0;
}

nav ul li {
	list-style: none;
	display: inline-block;
	font-size: 1.3rem;
	padding-right: 10px;
}

.current {
	background-color: yellow;
}