<!DOCTYPE html>

<html>

<head>
  <script type="text/javascript">
    var host = "vikaslalwani.com";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
  </script>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{page.meta}}">
  <title>{{page.title}}</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
</head>

<body>

	<input type="checkbox" id="sidebartoggler">
	<div class="page-wrap">

		<label for="sidebartoggler" class="toggle">☰</label>

		{{content}}

		<div class="sidebar">
			{% include nav.html %}
		</div>

	</div>

	{% include ga.html %}

</body>

</html>