* {
	margin: 0;
	padding: 0;
}

html, body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	background-color: #3F51B5;
	font-family: 'Comfortaa', cursive;
	font-size: 100%;
}

.mainContainer {
	width: 80%;
	margin: 0 auto;
	height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.headings {
	height: 250px;
	transition: transform 2s ease-in;
}

.headings.pre-animation {
    opacity:0;
}

.quote {
	color: #fff;
	font-weight: 300;
	letter-spacing: 0.1rem;
}

h1.quote {
	font-size: 2.5rem;
}

h2.quote {
	font-size: 2rem;
	display: inline-block;
	text-align: right;
	margin: 2%;
	font-weight: 400;
}

.nextButton {
	display: inline-block;
	margin: 2% auto;
	height: 10%;
	width: 10%;
	cursor: pointer;
}

.nextButton img {
	width: 60px;
	height: 60px;
}

@media (max-width: 700px) {
	
	.headings {
		height: 200px;
	}

	h1.quote {
		font-size: 1.2rem;
	}

	h2.quote {
		font-size: 0.8rem;
	}
	
	.nextButton img {
		width: 35px;
		height: 35px;
	}

}

@media (max-width:1100px) and (min-width:700px), (max-height: 600px) {
	.headings {
		height: 200px;
	}

	h1.quote {
		font-size: 1.6rem;
	}

	h2.quote {
		font-size: 1.2rem;
	}
	
	.nextButton img {
		width: 45px;
		height: 45px;
	}
}


